<section class="films">
     <input [(ngModel)]="filteredStatus" class="form-control" type="search" placeholder="Search films..." aria-label="Search">
     <!-- <div class="dropdown" appDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Filter products
      </button>
      <div class="dropdown-menu" appDropdown aria-labelledby="dropdownMenuButton"> -->
        <button class="dropdown-item" (click)="sortItems('imdbRating')">Sort by IMDB ranking</button>
        <button class="dropdown-item" (click)="sortItems('title')">Sort by title</button>
      <!-- </div>
    </div> -->
  <div class="films__list" *ngIf="films$ | async">
    <mat-card class="films__film film" *ngFor="let film of films$ | async | filter:filteredStatus: 'title' | sort:property:order">
      <mat-card-header class="film__header">

        <mat-card-title>{{ film.title }} ({{ film.year}})</mat-card-title>
        <mat-card-subtitle class="film__year">{{ film.year}}</mat-card-subtitle>
        <!-- <mat-card-subtitle class="film__rating">{{ film.imdbRating }} / 10</mat-card-subtitle> -->


        <mat-card-subtitle>{{ film.genres.join(', ')}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="film__content">
          <app-rating [rating]="averageRating(film.ratings)" [imdbRating]="film.imdbRating"></app-rating>

        <img class="film__image" mat-card-image src="{{film.posterurl}}">
        <mat-card-subtitle class="film__subtitle"><span class="font-weight-bold">Actors:</span> {{ film.actors.join(', ') }}</mat-card-subtitle>
        <mat-card-subtitle class="film__subtitle"><span class="font-weight-bold">Description:</span> {{ film.storyline | slice:0:80}}...</mat-card-subtitle>
        <a [routerLink]="['/films', film.id]"><button class="film__button" color="primary" mat-raised-button>See details</button></a>
        <button class="film__button" color="accent" (click)="removeFilm(film.id)" mat-raised-button>Remove</button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
