<div class="rating">
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
    <i class="material-icons">star_rate</i>
  </div>
  <p>Average rating: {{ rating}}</p>
  <p>IMDB rating: {{ imdbRating}}</p>
